<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="interteleco_smsbox_observer_register_success" instance="Interteleco\Smsbox\Observer\NewUser"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="interteleco_smsbox_observer_order_place_after" instance="Interteleco\Smsbox\Observer\NewOrder"/>
    </event>
    <event name="smsbox_on_send_new_sms">
        <observer name="interteleco_smsbox_observer_smsbox_on_send_new_sms" instance="Interteleco\Smsbox\Observer\SendNewSms" />
    </event>
</config>